#game .row {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: #111;
    font-size: 16px;
    font-family: Roboto, sans-serif;

}

.button {    
    width: 10em;
    text-align: center;
    height: 3em;
    vertical-align: middle;
    line-height: 3em;
}

.topmask {
    overflow: hidden;
}

.tubec {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 20px 0 20px;
    transition: top 0.15s ease-out, transform 0.5s ease-out, left 0.3s ease-in-out;
    transform-origin: top right;
    transform: rotate(0);
}

.growable {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.drip {
    position: absolute;
    width: 3px;

    background: white;
    top: -25px;
    bottom: 236px;
    left: 28px;
    transition: top 0.25s 0.45s ease-out, bottom 0.2s 0.3s ease-out;
}

.receiving .drip {
    bottom: 85px;
    top: 120px;
}



select {
    color: white;
    background: #111;
    font-size: 18px;
    border: 0;
}

#difficulty {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 1em;
    opacity: 0;
    transition: opacity 0.15s ease-out;
}

#difficulty.visible {
    opacity: 1;
}

nav {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 1em;
    justify-content: flex-end;
    margin-bottom: 4em;
}

.button {
    color: white;
    cursor: pointer;
}

.button svg {
    fill: white;
    width: 24px; 
    height: 24px;
    margin-top: 12px;
}

.button:hover {
    background: #333;
}

.tube {
    font-size: 30px;
    height: 4em;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1em;
    border-radius: 15px;
    overflow: hidden;
    padding-top: 30px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 1em;
    position: relative;
    top: -1.5em;
}

.tipping {
    transform: rotate(135deg);
    z-index: 5;
    pointer-events: none;
    touch-action: none;
}

.tipping .water {
    opacity: 1;
}

#container {
    display: flex;
    align-items: center;
}

#game {
    max-width: 700px;
    flex: 1;
}

.tipping .tube div.water:last-child,
#game .new {
    height: 0px;
}

.selected {
    top: -20px;
}

.tube div.water {
    transition: height 0.3s 0.3s ease-out;
    height: 1em;
    width: 1em;
    z-index: 2;
    opacity: 0.9;
}

.tube div.n2 {
    height: 2em;
}

.tube div.n3 {
    height: 3em;
}

.tube div.n4 {
    height: 4em;
}

.straw {
    position: absolute;
    transform: rotate(6deg);
    left: 2.53em;
    opacity: 0;
    top: -500px;
    transition: top 0.4s 0.5s ease-in;

}

.straw.visible {
    top: -10px;
    opacity: 1;
}

.straw div {
    background-color: white;
    position: relative;
    width: 2px;
}

.straw .stem {
    height: 120px;
}

.straw .mouthpiece {
    height: 20px;
    transform: rotate(40deg);
    top: -137px;
    left: 6px;
}

.hidden {
    visibility: hidden;
}

#installContainer {
    top: 50px;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
}

#butInstall {
    border: 1px solid gray;
}